<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Contato | Inglês The Key</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
  <h1>Contato</h1>
  <nav>
    <a href="/">Início</a>
    <a href="/links-uteis.html">Links úteis</a>
    <a href="/sobre.html">Sobre</a>
    <a href="/exerciciosClassroom.html">Exercicios no Google Classroom</a>
    
  </nav>
</header>

<main>
  <p>Contatos para comunicar algum erro, engano ou falha no site</p><br>
  <p>Email: sandro.rosa.ingles@gmail.com</p>
  <p>Somente Whatsapp: +55 27 98837-0996</p>
</main>

</body>
</html>
