<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Inglês The Key</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
  <h1>Inglês The Key</h1>
  <nav>
    <a href="/">Início</a>
    <a href="/links-uteis">Links úteis</a>
    <a href="/sobre">Sobre</a>
    <a href="/contato">Contato</a>
    <a href="/pagInicial">teste</a>
  </nav>
</header>

<main>
  <h2>Bem-vindo!</h2>
  <p id="p">Aprenda inglês com lições simples e práticas.</p>

  <h3>Últimas lições</h3>
 <section class="lessons-section">
  <h3>Últimas lições</h3>

  <div id="lesson-list" class="lesson-grid">
    <p>Carregando lições...</p>
  </div>
</section>

</main>

<footer>
  © 2026 Inglês The Key
</footer>

<script src="/script.js"></script>
</body>
</html>
