<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Links Úteis | Inglês The Key</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
  <h1>Links Úteis</h1>
  <nav>
    <a href="/">Início</a>
    <a href="/links-uteis.html">Links úteis</a>
    <a href="/sobre.html">Sobre</a>
    <a href="/contato.html">Contato</a>
    <a href="/exerciciosClassroom.html">Exercicios no Google Classroom</a>
  </nav>
</header>

<main>
  <ul>
    <li><a href="https://www.bbc.co.uk/learningenglish" target="_blank">BBC Learning English</a><p>Link para estudantes mais avançados - site todo em inglês. Não tenha medo e experimente este site Britânico.</p></li>
    <li><a href="https://www.duolingo.com" target="_blank">Duolingo</a><p>Se você já tem conta no Duolingo pode entrar clicando aqui. O site e o aplicativo ajudam você a manter a rotina de estudo mínimo, no mínimo. Mas, quem quer avançar, pode praticar muito muito. Lembre-se site e aplicativos são duas das várias formas de estudar e/ou praticar inglês. Use o máximo de variedades de formas de aprendizado.</p></li>
  </ul>
</main>

</body>
</html>
