<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sobre | Inglês The Key</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
  <h1>Sobre</h1>
  <nav>
    <a href="/">Início</a>
    <a href="/links-uteis">Links úteis</a>
    <a href="/contato">Contato</a>
    <a href="/pagInicial">Teste</a>
    
  </nav>
</header>

<main>
  <p>O Inglês The Key é um projeto educacional focado em ensino prático.</p> <br>
  <p>Meu site ingles-thekey.com tem por Objetivo ajudar iniciantes, estudantes de letras inglês e professores de inglês em escolas regulares.</p>
</main>

</body>
</html>
